# Xcode & Swift Package Manager
.build/
.swiftpm/
*.xcuserdatad/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
DerivedData/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Temporary build outputs
dist/

# Generated logs & scratch
*.log

# Media files
*.mp4
!Docs/assets/*.mp4
*.MP4
!Docs/assets/*.MP4
*.mov
*.MOV

# iOS Provisioning Profiles (contains private UDIDs)
*.mobileprovision
